/* Font Styles */
$font-content: 'Roboto', sans-serif;
$font-title: 'Shrikhand', serif;


$colour-primary: #9356dc;
$colour-secondary: #FF79DA;
$colour-tertiare: #99e2d0;
$gray: #818181;
$white: #ffffff;
$secondaryState: #f1e6fc;
$primaryGreen: #278666;
$silver: #f6f6f6;
$logo: #c7bc5bf6;

